.Navbar1 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #ddd;
    padding: 10px 0;
    background-color: white;
  }
  
  .nav-links2 {
    display: flex;
    gap: 30px;
  }
  
  .nav-links2 a {
 
    color: black;
    font-size: 16px;
    font-weight: 500;
    position: relative;
    padding-bottom: 5px;
  }
  

